.mediaCarousel {
	/*width: 400px;*/
	min-height: 40vmin;
	vertical-align: middle;
}

.mediaCarousel .carousel-inner {
	height: 100%;
}
.mediaCarousel_item {
	width: 75%;
	height: 100%;
	/*line-height: 300px; now define in the height parameter of the mediaCarousel.jsp page */
	text-align: center; /* horizontal center */
}
.mediaCarousel img {
	min-height:65%;
	min-width:40%;	
	max-width: 100%;
	max-height: 85vmin;
	margin: auto;
	text-align: center;
	vertical-align: middle;
	display: inline-block;
}

.mediaCarousel_item img {
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle; /* vertical center */
}

.mediaModal {
	width: 75%;
	background-color: black;
	text-align: center;
}

.mediaModal img {
	max-width: 100%;
	max-height: 85vmin;
}

.mediaCarousel .video-jsContainer {
	width: 100%;
	height: 100px;
	/*max-height: 300px;*/
	margin: auto;
	border: solid red;
}